/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS Reset End */
*{
    font-family: Arial, Helvetica, sans-serif;
    line-height:2.6em;
}
p {
    font-size: 1.25em;
}
figcaption, label, input, small {
    font-size: 1em;
}
nav a {
    font-size: 1.5em;
    list-style-type: none;
    text-decoration: none;
    color:white;
}
h1 {
    font-size: 3em;
    color:#007d7b;
    font-weight: bold;
    text-align: center;
    margin-bottom:15px;
    padding-bottom: 10px;
}
h2 {
    font-size: 2em;
    text-align: center;
}
body{
    background-color: black;
    justify-content: center;
}
#container{
    margin-left:80px;
    margin-right:80px;
    background-color: white;
}
main{
    background-color: white;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 20px;
    padding-bottom:15px;
}
#menu{
    background-color: black;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    height:40px;
    text-align: center;
}
#nav{
    background-color: black;
    margin-right:80px;
    margin-left:80px;
}
figure{
    display:flex;
    position:relative;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-bottom:15px;
}
img{
    max-width: 90%;
    height:auto;
}
.container:nth-child(odd) .fig{
    position: absolute;
    bottom:15px;
}
.container:nth-child(even) .fig{
    position: absolute;
    top:15px;
}
.container:nth-child(-n+3){
    color:white;
}
.container:nth-child(7){
    color:white;
}
.container:nth-child(12){
    color:white;
}
.container:nth-last-child(-n+5) .fig{
    top:15px;
}
.container:nth-child(5) .fig{
    top:15px;
}
.container:nth-child(6) .fig{
    bottom:15px;
    top:585px;
}
.fig{
    font-weight: bold;
}
form{
    text-align: center;
    color:white;
    line-height: 30px;
}
label{
    text-align: left;
    margin-right:250px;
    font-weight: bold;
}
#fname, #fname::placeholder{
    color:#007d7b;
    width:300px;
    font-weight:bold;
}
#email, #email::placeholder{
    color:#007d7b;
    width:300px;
    font-weight:bold;
}
#msg, #msg::placeholder{
    color:#007d7b;
    width:300px;
    font-weight:bold;
}
input[type="submit"]{
    float:clear;
    background-color: #007d7b;
    height:30px;
    text-align: center;
    margin-top:10px;
    line-height:10px;
    width:140px;
    color:white;
    border-radius: 15px;
}
#top{
    display:inline-block;
    background-color: black;
    border:solid white 1px;
    width:40px;
    height:50px;
    text-align: center;
    float: right;
    padding-top:25px;
    position: sticky;
    top:5px;
}
#top a{
    text-decoration: none;
    color:white;
}
footer p{
    color: white;
    text-align: center;
    margin:15px 0 15px 0;
}
@media (min-width:880px) {
    #gallery{
        column-count: 2;
		column-gap: 5px;
		margin: 0;
		height: auto;
    }
    img{
        max-width: 100%;
    }
    #container h1{
        text-align: left;
    }
}
@media (min-width:1300px){
    #gallery{
        column-count: 3;
		column-gap: 5px;
		margin: 0;
		height: auto;
    }
    img{
        max-width:100%;
    }
    #nav li{
        display: flex;
        justify-content: flex-end;
        
    }
}